@media (max-width: 900px) and (min-width: 600px){
    .main_field{
        flex-direction: column;
    }
    .right_side, .left_side{
        width: 95%;
    }
    .right_side{
        margin-top: 30px;
        margin-left: 30px;
    }
    .right_side h3{
        margin-bottom: 0px;
    }
    .right_side_name input[type=text]{
        width: 85%;
    }
}