*{
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
}
form{
    box-sizing: border-box;
    max-width: 900px;
    height: 700px;
    margin: 0 auto;
}
.registration_form{
    box-sizing: border-box;
    border: 2px solid darkgray;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .6),
    23px 0 20px -23px rgba(0, 0, 0, .6),
    inset 0 0 40px rgba(0, 0, 0, .1);
}
.main_field{
    display: flex;
    margin-bottom: 15px;
}
img{
    margin-left: 15px;
    margin-bottom: -15px;
    transform: scale(0.4);
}
.left_side h3{
    margin-left: 30px;
}
.left_side, .right_side{
    display: inline-block;
    width: 50%;
}
.mfd{
    margin-left: 15px;
}
input[type=text],
input[type=email],
input[type=password],
input[type=date],
.mf{
    border: none;
    border-bottom: 1px solid darkgray;
    color: rgb(66, 66, 66);
}
.left_side input[type=text],
.left_side input[type=email]{
    width: 80%;
}
::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(141, 141, 141);
}
label{
    font-size: 10px;
    color: rgb(66, 66, 66);
}
.left_side_checkbox{
    margin: 15px 0px 0px 28px;
}
.right_side{
    margin-left: 10%;
}
.right_side_name{
    padding-top: 15px;
}
.right_side input[type=text]{
    width: 80%;
}
.right_side input[type=text]:nth-child(2){
    margin-top: 20px;
}
.right_side_checkb_date{
    padding-top: 20px;
}
.right_side_checkb_date input,
.left_side_password input[type=password]{
    width: 39%;
}
input[type=submit]{
    width: 15%;
    height: 35px;
    color: #fff;
    background-color: rgb(94, 163, 151);
    border-radius: 5%;
    border: 1px solid darkgray;
    text-transform: uppercase;
    margin: 0px 0px 10px 80%;
}
